<a href="https://colab.research.google.com/github/marcos-code/datasets/blob/main/Explorando_dados_com_pandas_ITSA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [6]:
# importando aquivo csv para pandas

df = pd.read_csv("https://raw.githubusercontent.com/marcos-code/datasets/main/ITSA4.SA.csv")

In [4]:
# ver o tipo da varariavel df
type(df)

pandas.core.frame.DataFrame

In [5]:
# ver o tamanho do Dataframe (formato) linhas, colunas
df.shape

(247, 7)

In [7]:
#conhecendo os dados as 5 primeiras entradas

df.head()

         Date   Open   High    Low  Close  Adj Close      Volume
0  2020-02-10  12.85  13.16  12.75  13.05  12.537290  21223000.0
1  2020-02-11  13.22  13.39  13.09  13.28  12.758253  29302500.0
2  2020-02-12  13.32  13.51  13.25  13.37  12.844719  29504800.0
3  2020-02-13  13.27  13.36  13.13  13.17  12.652575  13984500.0
4  2020-02-14  13.15  13.17  13.00  13.00  12.489255  13364400.0

In [8]:
# conhecendo as 5 ultimas entradas
df.tail()

           Date   Open   High    Low  Close  Adj Close      Volume
242  2021-02-03  10.82  11.02  10.77  10.82      10.82  27407500.0
243  2021-02-04  10.85  10.90  10.75  10.82      10.82  32973100.0
244  2021-02-05  10.84  10.89  10.70  10.77      10.77  13020300.0
245  2021-02-08  10.73  10.75  10.58  10.61      10.61  18009500.0
246  2021-02-09  10.58  10.84  10.49  10.79      10.79  19951300.0

In [9]:
 # ver os nomes das colunas 
 df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [10]:
# conhecer os tipos de variáveis de cada coluna, use df.dtypes
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [11]:
# outra maneira de descobrir o tipo das variáveis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       247 non-null    object
 1   Open       246 non-null    float64
 2   High       246 non-null    float64
 3   Low        246 non-null    float64
 4   Close      246 non-null    float64
 5   Adj Close  246 non-null    float64
 6   Volume     246 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.6+ KB

In [15]:
# selecionando colunas
df.Open

0      12.85
1      13.22
2      13.32
3      13.27
4      13.15
       ...
242    10.82
243    10.85
244    10.84
245    10.73
246    10.58
Name: Open, Length: 247, dtype: float64

In [14]:
df['Close']

0      13.05
1      13.28
2      13.37
3      13.17
4      13.00
       ...
242    10.82
243    10.82
244    10.77
245    10.61
246    10.79
Name: Close, Length: 247, dtype: float64

#Calculando a média da coluna

In [16]:
df.Open.mean()

10.131951219512198

In [17]:
df.Close.mean()

10.112845528455289

#Trabalhando com datas

In [18]:
df.Date

0      2020-02-10
1      2020-02-11
2      2020-02-12
3      2020-02-13
4      2020-02-14
          ...
242    2021-02-03
243    2021-02-04
244    2021-02-05
245    2021-02-08
246    2021-02-09
Name: Date, Length: 247, dtype: object

In [20]:
#convertendo coluna Date em datetime
df.Date = pd.to_datetime(df.Date,format="%Y-%m-%d")
df.Date

0     2020-02-10
1     2020-02-11
2     2020-02-12
3     2020-02-13
4     2020-02-14
         ...
242   2021-02-03
243   2021-02-04
244   2021-02-05
245   2021-02-08
246   2021-02-09
Name: Date, Length: 247, dtype: datetime64[ns]

In [21]:
#acessando os componentes de uma data indivudualmente usando df.Date.dt.day (acessando o dia)
df.Date.dt.day

0      10
1      11
2      12
3      13
4      14
       ..
242     3
243     4
244     5
245     8
246     9
Name: Date, Length: 247, dtype: int64

In [22]:
#acessando o mês
df.Date.dt.month

0      2
1      2
2      2
3      2
4      2
      ..
242    2
243    2
244    2
245    2
246    2
Name: Date, Length: 247, dtype: int64

In [23]:
#acessando a semana
df.Date.dt.weekday

0      0
1      1
2      2
3      3
4      4
      ..
242    2
243    3
244    4
245    0
246    1
Name: Date, Length: 247, dtype: int64